<% provide(:title, "About") %>
<h1>So what's all of this about, then?</h1>
<p>Glad you asked! My Te Papa is a 'Web-based Companion App' for our Te Papa exhibits. In other words, it's a website that can accompany you on your smart phone, tablet, or laptop while you look around Te Papa, providing extra information, videos, audio snippets and additional material to complete your Te Papa experience. It can even make suggestions on what you might want to check out next!</p>

<h1>How does it work?</h1>
<p>My Te Papa uses a range of different technologies to make it as easy as possible for you to get more information about each part of an exhibition. You'll find NFC tags, QR codes, and unique ID codes scattered around Te Papa which will take you to each different section of the web site.</p>

<!-- DIVE DEEPER -->
<h1>But why should you bother?</h1>
<p>Have you ever found a display in a museum that really gets you thinking? Something that interests you, something that you want to know more about? When we put together an exhibit, we selected some of the most important parts to show you, but there's so much more beneath the surface which we can't possibly fit! More stories, pictures, audio recordings and videos than you can sink your teeth into, and all in one easy-to-use online repository, ready at your fingertips for you to dive in.</p>

<h1>How can we make your experience more personal?</h1>
<p>When you decide to sign up for a Culture Companion account, one of the things that we recommend you do first is to take a short survey. The survey will ask you a few easy questions, such as how old you are and what you're interests are. This information will be used not only to help us make your experience better in the future, but also to curate your <i>Recommended</i> section - when you're ready to move onto something else, we can provide some handy suggestions on what we think you might like.</p>

<h1 id="q">What is Q?</h1>
<p>Q is your friend to avoid the lines to get in to see exhibits! Te Papa allocates you with a small device that fits in the palm of your hand. These devices allow you to 'log on' to an exhibitions queue. The device shows the number you are in the line and countdown for the particular exhibition you choose to see. The device will give alerts and notifications if the exhibition is running late or early. A GPS sensor is located on the device tracking you through the museum and directing you back to the exhibition you are queued for. This saves you waiting in lines allowing you to see other exhibitions. Pick up this device from Level 2 reception!</p>

<div style="width: 100%"><iframe src="https://player.vimeo.com/video/97501818" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

<h1>What are you waiting for?</h1>
<p>That's all you need to know for now! If you like the sound of an easy-to-use online tour guide to expand and personalise your experience at Te Papa, sign up for a completely free account now <%= link_to "sign up for a completely free account now", signup_path %>!</p>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
    </div><div class="col-xs-4">
    	<span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
    </div>
</footer>