<% provide(:title, "Help") %>

<h1>How does it work?</h1>
<p>My Te Papa uses a range of different technologies to make it as easy as possible for you to get more information about each part of an exhibition. You'll find NFC tags, QR codes, and unique ID codes scattered around Te Papa which will take you to each different section of the web site.</p>

<h1>How do I use NFC?</h1>
<p>NFC (Near Field Communication) is a technology that allows data to be passed wirelessly between an RFID tag (a sticker on a display) and your phone. If you have an NFC compatible device, turn NFC on in the settings then press your phone up against the poster, on the spot highlighted by the NFC directions. Your phone will open the app right at the place where you need it!</p>

<h1>How do I use QR Codes</h1>
<p>QR Codes are like barcodes which you can scan with your phone. Download a free QR reader from the app store onto your phone, open the app, then arrange the QR code on the display between the markings on your camera. Your phone will prompt you to open a web page, which will open to the display page on My Te Papa!</p>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
    </div><div class="col-xs-4">
    	<span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
    </div>
</footer>