<div class="center jumbotron">
	<h1>The Official Te Papa Companion</h1>
	<h2>Your all-in-one tour guide as you dive into culture, history and art!</h2>

	<%= link_to "View the Exhibits", levels_path, class: "btn btn-lg btn-blue" %>
</div>