<h1><%= image_tag('logo.png', size: '150x150') %></h1>
<h1 class="main-title" style="margin-bottom: 0px;">My Te Papa</h1><br />
<h3 class="sub-title" style="margin-top: 0px;">Your all-in-one tour guide as you dive into culture, history and art!</h2>

<center><%= link_to "View the Exhibits", levels_path, class: "btn btn-lg btn-green" %></center>