@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$acha-lily-blue: #00a0de;
$acha-lily-green: #89bb5a;
$acha-lily-orange: #dc6d01;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
  background: url(asset-path('background.jpg')) no-repeat center center fixed;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $gray-dark !important;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  /*line-height: 1.7em;*/
  text-align: justify;
}

/* buttons */

.btn {
  color: white;
  font-size: 20px;
}

.btn-blue {
  background-color: $acha-lily-blue;
}

.btn-green {
  background-color: $acha-lily-green;
}

.btn-orange {
  background-color: $acha-lily-orange;
}

.btn-wide {
  width: 100%;
}

.btn-center {
  text-align: center !important;
}

/* header */

#logo {
  font-family: 'Roboto Slab', serif;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $gray-dark;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

.navbar {
  margin-top: 10px;
  background-color: #000;
  opacity: 0.6;
  border: 0px;
}

.navbar-header {
  padding-left: 15px;
}

#logo {
  color: white;
  opacity: 1.0;
}

.jumbotron {
  background: url(asset-path('background.jpg')) no-repeat;
  background-size: cover !important;
}

/* footer */

footer {
  clear: both;
  position: relative;
  bottom: 10px;
  left: 0px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  background: black;
  opacity: 0.6;
  color: white;

  p {
    text-align: center;
  }
}

/* user sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user-details {
  img {
    margin-bottom: 10px;
  }

  h1 {
    clear: left;
    text-align: left;
    font-size: 2em;
    margin-bottom: 5px;
  }

  h2 {
    text-align: left;
    font-size: 1.5em;
    color: $gray !important;
    margin-top: 0px;
  }
}

/* home */

.main-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.0em;
  margin-top: 0px;
}

/* exhibits */

.user-exhibits {
  margin-top: 20px;
}

.exhibit-block {
  float: right;
  border: 1px solid;
  width: 100%;
  margin-bottom: 20px;

  p {
    text-align: center;
  }
}

/* maps */

.map {
    height: 50vh;
    overflow: scroll;
    margin-bottom: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}