@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$acha-lily-blue: #00a0de; /* rgb(0,160,222) */
$acha-lily-green: #89bb5a; /* rgb(137,187,90) */
$acha-lily-orange: #dc6d01; /* rgb(220,109,1) */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  background: url(asset-path('background.jpg')) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $gray-dark !important;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  /*line-height: 1.7em;*/
  text-align: justify;
}

/* buttons */

.btn {
  color: white;
  font-size: 20px;
}

.btn-green {
  background-color: $acha-lily-green;
}

.btn-green-outline {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: $acha-lily-green;
  color: #333;
}

.btn-wide {
  width: 100%;
}

.btn-center {
  text-align: center !important;
}

/* header */

#logo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color: $acha-lily-green;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  margin-top: 0px;
  background-color: #333;
  border: 0px;
}

.navbar-header {
  text-align: center !important;
  padding: 10px;
}

.jumbotron {
  background: url(asset-path('background.jpg')) no-repeat;
  background-size: cover !important;
}

/* footer */

footer {
  clear: both;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;

  background-color: #333;

  .row, a {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
    padding: 10px;
    color: $acha-lily-green;
  }

  a {
    padding-left: 5px;
  }
}

/* user sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user-details {
  img {
    margin-bottom: 10px;
  }

  h1 {
    clear: left;
    text-align: left;
    font-size: 2em;
    margin-bottom: 5px;
  }

  h2 {
    text-align: left;
    font-size: 1.5em;
    color: $gray !important;
    margin-top: 0px;
  }
}

/* home */

.main-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.0em;
  margin-top: 0px;
}

/* levels */

.level {
  padding: 5px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* exhibits */

.user-exhibits {
  margin-top: 20px;
}

.exhibit-header {
  background-size: cover !important;
  border: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;

  p {
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;

    .text-muted {
      font-weight: 700;
      color: #333;
    }
  }
}

.exhibit-block {
  float: right;
  border: 1px solid #333;
  width: 100%;
  margin-bottom: 20px;

  
}

.exhibit-info {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  border: 1px solid #333;
  border-top: 0px;

  padding: 10px;
  margin-bottom: 10px;

  background-color: rgba(255, 255, 255, 0.6);

  p {
    font-size: 1.3em;
    line-height: 1.2em;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 20px;

    .text-muted {
      font-weight: 400;
    }
  }
}

.glyphicon-info {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.info-box {
  margin-bottom: 10px;

  p {
    padding: 3px;
    margin-bottom: 0px;
    text-align: center;
  }
}

/* maps */

.map {
    height: 30vh;
    overflow: scroll;
    margin-bottom: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Q */

.q-wrapper {
  background: rgba(255, 255, 255 ,0.6);
  padding-top: 5px;

  h3 {
    margin: 0px;
    font-size: 18px;
  }
}

.q-timer {
  font-family: 'Lucida Console', serif;
  font-size: 24px;
  margin: 0px;
}

.q-help {
  font-size: 12px;
  color: #333;
  text-align: center;
}