<footer class="footer">
  <p>
    Antonia Caskey, Lily Delany
  <br />
  	Sacha Judd, Tim Paisley
  </p>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>